p {
    font-size: 1.2rem;
}
.title-text{
    font-family: 'source-serif-pro', Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 700;
    letter-spacing: -0.003em;
    line-height: 32px;
    font-size: 24px;
    word-break: break-word;
    color: #242424;
    overflow-wrap: break-word;
    font-style: normal;
}

.body-text {
    letter-spacing: -0.003em;
    line-height: 32px;
    font-size: 20px;
    font-family: 'source-serif-pro', Georgia, Cambria, "Times New Roman", Times, serif;
    word-break: break-word;
    color: #242424;
    font-weight: 400;
    overflow-wrap: break-word;
    font-style: normal;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col {
    flex: 1;
    margin-right: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 20px;
}
.divider-line {
    border-bottom: 1px solid #D2D2D2;
    margin: 20px 0;
}

.text-color-green {
    color: #00A651;
    font-weight: 600;
}

.text-color-red {
    color: #FF0000;
    font-weight: 600;
}